<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pujar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "US_pujar_subasta.css" %}?{% now "U" %}">
</head>
<body>
    <form action="/U_subastas_disponibles.html" target="" method="get" name="formDatosPersonales">

        <label for="nombre">Nombre del Proyecto</label>
        <input type="text" name="nombre" id="nombre" value="{{ proyectos }}"/>
        <br><br>
        <label for="apellidos">Descripción</label>
        <input type="text" name="apellidos" id="apellidos" value="{{ descripcion }}"/>
        <br><br>

        <div class="container">
            <h3>Oferta alamcenada</h3>
            <p>
                En los próximos días revisa tu cuenta para ver si tu oferta ganó la subasta
            </p>
        </div>
    </form>
</body>
</html>